body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}
body {
  color: white;
  background-color: black;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  .cities {
    width: 30%;
  }
  .active-city {
    background-color: orange;
    h3 {
      margin-top: 0;
    }
  }
}

.list-group-item {
  background-color: transparent;
  cursor: pointer;
}

@import "card";
@import "cityinfo";

